@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
       
      /* Show scrollbar for IE, Edge and Firefox  in desktop */
      @media screen and (max-width: 768px) {
          ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        background-color: transparent;
        -ms-overflow-style: none;
      scrollbar-width: none;
      }
      }